
/*
minimal format
TODO move to separate file
*/

body {
    font-family: sans-serif;
}

/*
simple special title with logo
TODO clean definition!
*/
table.openknxTitleTable {
    background: url('/img/openknx-logoline.png') no-repeat top right;
}
table.openknxTitleTable thead th:first-child {
    position: absolute;
    color: #449841;
    font-size: 150%;
    border-top: 3px solid #449841;
    top: 40px;
    padding-right: 200px;
}

/* row shading */
tbody tr:nth-child(2n+1) {
    background-color: #f8f8f8;
}
/* hover highlighting generated in Template; TODO cleanup
tbody tr:hover {
    background-color: #dfd;
}
*/

th {
    font-weight: normal;
    text-align: left;
}
th.singleModules {
    text-align: center;
    vertical-align: bottom;
}

td {
    text-align: center;
}
td.isPart {
    color: #449841;
}
td.left {
    text-align: left;
}

/*
--------------------------------------------------------------------------
quick draft, based on https://css-tricks.com/rotated-table-column-headers/
TODO cleanup and update
*/

th.rotate {
    height: 140px;
    white-space: nowrap;

    height: 240px;
}
th.rotate > div {
    transform: translate(5px, 51px) rotate(315deg);
    width: 30px;

    transform: translate(0px, 100px) rotate(315deg);
}
th.rotate > div > span {
    padding: 5px 10px;
}
td, tbody th {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
