<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenKNX-Applikationen/-Module und unterstützte Geräte</title>
    <link rel="stylesheet" href="css/table_header_rotate.css">
    <style>
        {% for col in range(1, 1 + (modules_sorted | length) + (devices_sorted | length) + 1) %}table:has(td:nth-child({{col}}):hover, th:nth-child({{col}}):hover) td:nth-child({{col}}).isPart,
        {% endfor %}
        tbody tr:hover {
            background-color: #dfd;
        }
    </style>
</head>
<body>
<table class="openknxTitleTable">
    <caption>OpenKNX-Applikationen/-Module und unterstützte Geräte</caption>
    <thead>
    <tr>
        <th></th>
        {% for module, count in modules_sorted if count > 1 %}
        <th class="rotate" data-ofm="{{module}}"><div><span>{{ module }}</span></div></th>
        {% endfor %}
        <th class="singleModules" data-ofm="*special*">Einmalig verwendete Module:</th>
        {% for device, count in devices_sorted if count > 1 %}
        <th class="rotate" data-dev="{{device}}"><div><span>{{ device }}</span></div></th>
        {% endfor %}
        <th class="singleModules" data-dev="*special*">Spezielle Geräte:</th>
        <th class="rotate" data-dev="*other*"><div><span>Sonstige Geräte</span></div></th>
    </tr>
    </thead>
    <tbody>
    {% for oamName, oam_details in oam_data.items() %}
    {% set oamModules = oam_details['modules'] %}
    {% set oamDevices = oam_details['devices'] %}
    <tr>
        <th data-oam="{{oamName}}">{{ oamName }}<div class="oam-details">{{ oam_details['description'] }}</div></th>

        {% for module, count in modules_sorted if count > 1 %}
        <td data-oam="{{oamName}}" data-ofm="{{module}}" class="isPart">{% if module in oamModules %}&#9632;{% else %}{% endif %}</td>
        {% endfor %}
        <td class="left">{{ modules_sorted | selectattr('1', 'equalto', 1) | map(attribute='0') | select('in', oamModules) | join(', ') }}</td>

        {% for device, count in devices_sorted if count > 1 %}
        <td data-oam="{{oamName}}" data-dev="{{device}}" class="isPart">{% if device in oamDevices %}&#9632;{% else %}{% endif %}</td>
        {% endfor %}
        <td class="left">{{ devices_sorted | selectattr('1', 'equalto', 1) | map(attribute='0') | select('in', oamDevices) | join(', ') }}</td>

        {% set oamDevices_other = devices_other_sorted | map(attribute='0') | select('in', oamDevices) | list %}
        <td title="{{ oamDevices_other | join(', ') }}">{% if oamDevices_other | length > 0 %}{{ oamDevices_other | length }}{% endif %}</td>


        <!--
        <td class="left" title="{{ oamDevices | join(', ') }}">  {% if oamDevices is defined and oamDevices | length > 0 %}{{ oamDevices | length }}{% endif %}</td>
        -->
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>