<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        {% set col_count = 1 + (modules_sorted | default([]) | length) + (devices_sorted | default([]) | length) %}
        {% for col in range(2, col_count + 1) %}table.openknxTitleTable:has(tr.hoverTrigger > :nth-child({{col}}):hover) tr > :nth-child({{col}}).colHover,
        {% endfor %}
        table.openknxTitleTable tbody tr:hover {
            background-color: #dfd;
        }
        {% for col in range(2, col_count + 1) %}table.openknxTitleTable:has(tr.hoverTrigger > :nth-child({{col}}):hover) thead th.rotate45:nth-child({{col}}) div span{% if not loop.last %},{% endif %}
        {% endfor %}
        {
            border-bottom: 2px solid #9f9;
        }
    </style>
</head>
<body>
<table class="openknxTitleTable">
    <caption>{{ title }}</caption>
    <colgroup>
        <col class="before-new-cols" />

       {% if showModules %}
        {% for module, count in modules_sorted if count > 1 %}
        <col data-ofm="{{module}}" />
        {% endfor %}
        <col data-ofm="*special*" />
       {% endif %}

       {% if showDevices %}
        {% for device, count in devices_sorted if count > 1 %}
        <col data-dev="{{device}}" />
        {% endfor %}
        <col data-dev="*special*" />
        <col data-dev="*other*" />
       {% endif %}
    </colgroup>
    <thead>
      <tr class="colGroupTitle">
        <th class="before-new-cols">Applikation</th>
        {% if showModules %}<th class="before-new-cols" colspan="{{ modules_sorted | selectattr('1', 'gt', 1) | list | length + 1 }}">Enthaltene Module</th>{% endif %}
        {% if showDevices %}<th class="before-new-cols" colspan="{{ devices_sorted | selectattr('1', 'gt', 1) | list | length + 1 + 1}}">Unterstützte Geräte</th>{% endif %}
      </tr>
      <tr class="hoverTrigger">
        <th class="before-new-cols"></th>

       {% if showModules %}
        {% for module, count in modules_sorted if count > 1 %}{% set ofmUrl = "https://github.com/OpenKNX/" ~ module %}
        <th class="rotate45" data-ofm="{{module}}"><div><span><a href="{{ofmUrl}}">{{ module }}</a></span></div></th>
        {% endfor %}
        <th class="singleModules before-new-cols" data-ofm="*special*">Nur in dieser Applikation:</th>
       {% endif %}

       {% if showDevices %}
        {% for device, count in devices_sorted if count > 1 %}
        <th class="rotate45" data-dev="{{device}}"><div><span>{{ device | device_without_openknx }}</span></div></th>
        {% endfor %}
        <th class="singleModules" data-dev="*special*">Spezielle Geräte:</th>
        <th class="rotate90 before-new-cols" data-dev="*other*"><div><span>Sonstige Geräte</span></div></th>
       {% endif %}

      </tr>
      <tr class="iconRow hoverTrigger">
        <th class="before-new-cols"></th>

       {% if showModules %}
        {% for module, count in modules_sorted if count > 1 %}
          {%- set ofmIconUrl = ofm_data[module]['icon_url'] if ofm_data[module] else "" -%}
          {%- set ofmTitle = ofm_data[module]['title'] if ofm_data[module] else "" -%}
          {%- set ofmDescription = ofm_data[module]['description'] if ofm_data[module] else "" -%}
          {%- set ofmHint = (ofmTitle + ": " if ofmTitle else "") + ofmDescription -%}
        <th data-ofm="{{module}}" class="colHover" title="{{ofmHint}}">{% if ofmIconUrl %}<img src="{{ofmIconUrl}}" />{% else %}|{% endif %}</th>
        {% endfor %}
        <th class="before-new-cols" data-ofm="*special*"></th>
       {% endif %}

       {% if showDevices %}
        {% for device, count in devices_sorted if count > 1 %}
        <th data-dev="{{device}}" class="colHover"></th>
        {% endfor %}
        <th data-dev="*special*"></th>
        <th data-dev="*other*" class="before-new-cols"></th>
       {% endif %}

      </tr>
    </thead>
    <tbody>
    {% for oamName, oam_details in oam_data.items() %}
    {% set oamModules = oam_details['modules'] %}
    {%- set oamInternalModules = oam_details['modules_internal'] %}
    {% set oamDevices = oam_details['devices'] %}
    {% set oamDescription = oam_details['description'] %}
    {% set oamUrl = "https://github.com/OpenKNX/" ~ oamName %}
    <tr data-oam="{{oamName}}" class="hoverTrigger">
        <th class="before-new-cols"><a href="{{oamUrl}}">{{ oamName }}</a>{% if oamDescription %}<div class="oam-details">{{ oamDescription }}</div>{% endif %}</th>

       {% if showModules %}
        {% for module, count in modules_sorted if count > 1 %}
        <td data-ofm="{{module}}" class="isPart colHover">{% if module in oamModules %}&#9724;{% endif %}</td>
        {% endfor %}
        <td class="left before-new-cols" data-ofm="*special*">
            {%- for module in modules_sorted | selectattr('1', 'equalto', 1) | map(attribute='0') | select('in', oamModules) %}
                {% set ofmIconUrl = ofm_data[module]['icon_url'] if ofm_data[module] else "" %}
                {%- set ofmDescripton = ofm_data[module]['description'] if ofm_data[module] else "" -%}
                <span data-ofm="{{module}}"><span class="isPart">&#9724;</span>&nbsp;{% if ofmIconUrl %}<img src="{{ofmIconUrl}}" title="{{ofmDescripton}}" />&nbsp;{% endif %}<a href="https://github.com/OpenKNX/{{ module }}">{{ module }}</a></span>{% if not loop.last or ((oamInternalModules | length) > 0)  %}, {% endif %}
            {%- endfor %}
            {%- for module in oamInternalModules %}
                <span data-ofm="" title="Internes Modul"><span class="isInternalModule">&#9723;</span>&nbsp;{{ module }}</span>{% if not loop.last %}, {% endif %}
            {%- endfor %}
        </td>
       {% endif %}

       {% if showDevices %}
        {% for device, count in devices_sorted if count > 1 %}
        <td data-dev="{{device}}" class="isPart colHover">{% if device in oamDevices %}&#9724;{% endif %}</td>
        {% endfor %}
        <td class="left">
            {%- for device in devices_sorted | selectattr('1', 'equalto', 1) | map(attribute='0') | select('in', oamDevices) %}
                <span data-dev="{{device}}"><span class="isPart">&#9724;</span>&nbsp;{{device | device_without_openknx }}</span>{% if not loop.last %}, {% endif %}
            {%- endfor %}
        </td>

        {% set oamDevices_other = devices_other_sorted | map(attribute='0') | select('in', oamDevices) | list %}
        <td title="{{ oamDevices_other | join(', ') }}">{% if oamDevices_other | length > 0 %}{{ oamDevices_other | length }}{% endif %}</td>
       {% endif %}

    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>