<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} | OpenKNX Gerät | Übersicht</title>
    <style>
        body {
            font-family: sans-serif;
        }
        .relations {
            display: flex;
        }
        .relations section {
            max-width: 30%;
            margin-right: 3em;
        }
        .related_modules a img {
            width: 16px;
            height: 16px;
        }
        .related_modules a .noicon {
            width: 16px;
            height: 16px;
            display: inline-block;
        }
    </style>

</head>
<body>

<p><a href="../">&nwarr; Liste der OpenKNX-Geräte</a></p>
<h1>{{ name }}</h1>
<p>{# TODO description #}</p>
<p><a href="functions.html">Übersichtstabelle mit verfügbaren OpenKNX-Applikationen und Modulen</a></p>

<div class="relations">
    <section class="related_oams">
        <h2>Verfügbare Applikationen</h2>
        <ul>
            {% for oamName, oam_details in oam_data.items() if name in oam_details.devices %}
            <li data-oam="{{oamName}}">
                <a href="../../oam/{{oamName}}/">{{ oamName }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="related_modules">
        <h2>In Applikationen verfügbare Module</h2>
        <ul>
            {%- for module, count in ofm_sorted %}
            <li data-ofm="{{module}}">
                <a href="../../ofm/{{ module }}/">{{ module }}</a>
            </li>
            {%- endfor %}
        </ul>
    </section>
</body>
</html>