<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenKNX Geräte</title>
</head>
<body>

<h1>OpenKNX Geräte</h1>
<p>{# TODO description #}</p>

<ul>
    {% for device, usage_count in devices_sorted %}
    <li data-dev="{{device}}">
        (<a href="https://device.openknx.de/{{ function_device_to_pathname(device) }}">OpenKNX-Geräte-Link</a>)
        <a href="{{ function_device_to_pathname(device) }}/">{{ device }}</a>
    </li>
    {% endfor %}
</ul>

</body>
</html>