<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ofmName }}</title>
</head>
<body>

<h1>{{ ofmName }}</h1>
<p>{# TODO description #}</p>
<h2>Verfügbar in Applikationen</h2>
<ul>
    {% for oamName, oam_details in oam_data.items() if ofmName in oam_details.modules %}
    <li data-oam="{{oamName}}">
        <a href="https://github.com/OpenKNX/{{oamName}}">(GitHub)</a>
        <a href="../../oam/{{oamName}}/">{{ oamName }}</a>
    </li>
    {% endfor %}
</ul>

<h2>Verfügbar in Firmware für folgende Geräte</h2>
<h3>OpenKNX</h3>
<ul>
    {% for device, count in devices_sorted if device in devs_sorted %}
    <li data-dev="{{device}}">{{device}}</li>
    {% endfor %}
</ul>
<h3>Andere Geräte</h3>
<ul>
    {% for device, count in devices_other_sorted if device in devs_sorted %}
    <li data-dev="{{device}}">{{device}}</li>
    {% endfor %}
</ul>

</body>
</html>