<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ofmName }} | OpenKNX Modul | Übersicht</title>
    <style>
        body {
            font-family: sans-serif;
        }
        .ofm_relations {
            display: flex;
        }
        .ofm_relations section {
            max-width: 30%;
            margin-right: 3em;
        }
    </style>
</head>
<body>

<p><a href="../">&nwarr; Liste der OpenKNX-Module</a></p>
<h1>{{ ofmName }}</h1>
<p><a href="https://github.com/OpenKNX/{{ ofmName }}">GitHub</a></p>
<p>{# TODO description #}</p>
<p><a href="functions.html">Übersichtstabelle mit verfügbaren OpenKNX-Applikationen und unterstützten Geräten</a></p>

<div class="ofm_relations">
    <section class="related_oams">
        <h2>Verfügbar in Applikationen</h2>
        <ul>
            {% for oamName, oam_details in oam_data.items() if ofmName in oam_details.modules %}
            <li data-oam="{{oamName}}">
                <a href="../../oam/{{oamName}}/">{{ oamName }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="related_devices">
        <h2>Verfügbar in Firmware für folgende Geräte</h2>
        <ul>
            {%- for device, count in devices_sorted if device in devs_sorted %}
            <li data-dev="{{device}}"><a href="../../devices/{{ function_device_to_pathname(device) }}/">{{ device }}</a></li>
            {%- endfor %}
        </ul>
        <details>
            <summary>Andere Geräte</summary>
            <ul>
                {%- for device, count in devices_other_sorted if device in devs_sorted %}
                <li data-dev="{{device}}">{{device}}</li>
                {%- endfor %}
            </ul>
        </details>
    </section>


</body>
</html>