<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuste Releases von {{repo_name}}</title>
    {% if style_filename %}<link rel="stylesheet" href="/css/{{ style_filename }}.css">{% endif %}
</head>
<body>
<h{{ h_level | default(1) }}>Neuste Releases von {{repo_name}}</h{{ h_level | default(1) }}>
<ul>
    {% if latest_release %}
    <li>Neustes Release: <a href="{{ latest_release.html_url }}">{{ latest_release.name }} ({{ latest_release.tag_name }})</a></li>
    {% endif %}
    {% if latest_prerelease and (latest_release is none or latest_prerelease.published_at > latest_release.published_at) %}
    <li>[PRERELEASE] Neustes Pre-Release: <a href="{{ latest_prerelease.html_url }}">{{ latest_prerelease.name }} ({{ latest_prerelease.tag_name }})</a></li>
    {% endif %}
</ul>
</body>
</html>


